{% if taxonomies_filter|length > 0 %}
	<div class="wp-block-jcore-dynamic-archive__filters__taxonomies">
		{% for term_type in taxonomies_filter|keys %}
			<div class="wp-block-jcore-dynamic-archive__filters__taxonomies__type{{ ' taxonomy-type-' ~ term_type }}">
				{% for taxonomy in taxonomies_filter[term_type] %}
					{% include ['dynamic-archive/partials/filters/filter-' ~ taxonomy.filterType ~ '.twig', 'partials/filters/filter-' ~ taxonomy.filterType ~ '.twig'] ignore missing with { taxonomy: taxonomy }  %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
