{% if has_more %}
	<a
		href="{{ next_page_link }}"
		class="wp-block-jcore-dynamic-archive-posts__load_more"
		data-wp-on--click="actions.pageChange"
		data-wp-on-async--mouseover="actions.prefetchPage"
	>
		<span class="wp-block-jcore-dynamic-archive-posts__load_more-spinner"></span>
		{{ __( 'Load more', 'dynamic-archive' ) }}
	</a>
{% endif %}
