<option
	data-taxonomy="{{ term.type }}"
	data-term="{{ attribute(term, taxonomy_field_type) }}"
	value="{{ attribute(term, taxonomy_field_type) }}"
	{% if term.active %}
		selected="selected"
	{% endif %}
>
	{{ term.name }}
</option>
