<div {{ block_wrapper_attributes }} data-related="{{ attributes.related ? 'true' : 'false' }}">
	<div class="wp-block-jcore-latest-posts__inner columns-{{ attributes.columns }}">
		{% for post in posts %}
			{% include ['latest-posts/partials/tease.twig', 'partials/tease.twig'] with { post: post, nr: loop.index } %}
		{% endfor %}
	</div>
</div>
